body {
  color: white;
  background: -moz-linear-gradient(#000428, #004e92);
  background-repeat: no-repeat;
  font-family: 'Ubuntu', sans-serif;
}

a:link,
a:visited,
a:hover {
  color: #ffffff;
  text-decoration: no-underline;
  cursor: auto;
  font-size: 25px;
}

#random {
  margin-top: 50px;
  margin-bottom: 50px;
}