body {
  background-color: #F5F5F5;
  font-family: 'Rammetto One', cursive;
}

#main {
  text-align: center;
  background-color: white;
  padding : 25px;
  margin-top: 20px;
  color: #555
}

hr {
  width: 60%;
  height: 4px;
  margin-left: auto;
  margin-right: auto;
  background-color: #555;
  border: 0 none;
}

#side_nav a {
  left : -105px;
  transition : 0.3s;
  padding : 20px;
  padding-right : 2cm;
  width : 125px;
  text-decoration : none;
  font-size: 20px;
  color: white;
  border-radius: 0 5px 5px 0;
  position : absolute;
}

#side_nav a:hover {
  left: 0;
}

#online {
    top: 20px;
    background-color: #4CAF50;
}

#offline {
    top: 89px;
    background-color: #2196F3;
}

#all {
    top: 158px;
    background-color: #f44336;
}