body {
  color: white;
  background: -moz-linear-gradient(#000428, #004e92);
  background-repeat: no-repeat;
  font-family: 'Ubuntu', sans-serif;
}

a:link,
a:visited,
a:hover {
  color: #ffffff;
  text-decoration: no-underline;
  cursor: auto;
  font-size: 25px;
}

input{
   text-align:center;
}

form {
  margin-left: 50px;
  margin-right: 50px;
}
#random {
  margin-top: 50px;
  margin-bottom: 50px;
}

button {
  text-decoration: none;
  border: none;
}